<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-16">
    <div class="px-4 py-2">
        <h1 class="text-gray-800 font-bold text-2xl uppercase">To-Do List</h1>
    </div>
    <div class="w-full max-w-sm mx-auto px-4 py-2">
        <div class="flex items-center border-b-2 border-teal-500 py-2">
            <input #taskInput
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="text" placeholder="add task here" (keyup.enter)="todoService.addTodo(taskInput.value);
          taskInput.value=''">
            <button
                class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                type="button" (click)="todoService.addTodo(taskInput.value);
           taskInput.value=''">
                Add
            </button>
        </div>
    </div>
    <ul class="divide-y divide-gray-200 px-4">
        @for (item of todoService.todos(); track item.id) {
        <li class="py-4 flex items-center justify-between">
            <div class="flex items-center">
                <input type="checkbox" class="h-4 w-4 text-teal-600 border-gray-300 rounded" [checked]="item.completed"
                    (change)="todoService.toggleTodo(item.id)">
                <label class="ml-3 block text-gray-900 w-full">
                    @if (!item.editing) {
                    <span class="text-lg font-medium" [class.line-through]="item.completed">
                        {{ item.title }}
                    </span>
                    } @else {
                    <input #editInput type="text" class="border rounded px-2 py-1 w-full" [value]="item.title"
                        (keyup.enter)="todoService.saveEditing(editInput.value, item.id);"
                        (blur)="todoService.saveEditing(editInput.value, item.id)"
                        (keyup.escape)="todoService.cancelEditing(item.id)" autofocus />
                    }
                </label>
            </div>
            <div class="flex items-center gap-4">
                <button (click)=" todoService.enableEditing(item.id) "
                    class="justify-self-end-safe text-yellow-500 hover:text-yellow-900 font-semibold">
                    Edit
                </button>
                <button (click)="todoService.removeTodo($index)" class="text-red-600 hover:text-red-900 font-semibold">
                    Delete
                </button>
            </div>
        </li>
        } @empty {
        <li class="py-10 text-center text-gray-400 italic">
            there is nothing to do yet
        </li>
        }
    </ul>
</div>