.location {
    display: flex;
    align-items: center;
    /* icon canh giữa theo chiều dọc */
    gap: 12px;
}


.location i {
    font-size: 20px;
}


.location-text {
    display: flex;
    flex-direction: column;
}


.location-text .title {
    font-weight: 600;
}


.location-text .sub {
    font-size: 14px;
    opacity: 0.8;
}