<footer>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <!-- | LEFT | CENTER | RIGHT | -->
        <div class="grid grid-cols-3 gap-4 items-center">
            <!-- LEFT -->
            <div class="flex flex-col gap-4">
                <!-- LOCATION -->
                <div class="flex items-center gap-3">
                    <div class="flex items-center">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="flex flex-col">
                        <span class="title">Vinacomin Tower</span>
                        <span class="sub">Hanoi, Vietnam</span>
                    </div>
                </div>
                <!-- PHONE -->
                <div class="flex items-center gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <div class="location-text">
                        <span class="title">+84 123456</span>
                    </div>
                </div>
                <!-- EMAIL -->
                <div class="flex items-center gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="location-text">
                        <span class="title">test@company.com</span>
                    </div>
                </div>
            </div>

            <!-- CENTER -->
            <div class="flex flex-col gap-4">
                <!-- heade & title  -->
                <div class="flex items-center gap-3">
                    <h1 class="text-lg font-semibold text-2xl">
                        About the company
                    </h1>

                </div>
                <div class="flex items-center gap-3">
                    <p>
                        If you are reading this, this mean there is a guy born in 2004.
                        Senior in software programming learning to center a f*cking div!!!!
                        F*ck no matter what, that guy will do it
                    </p>
                </div>
                <div class="flex gap-3">
                    <a class="social-btn"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="social-btn"><i class="fa-brands fa-twitter"></i></a>
                    <a class="social-btn"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a class="social-btn"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>

            <!-- RIGHT -->
            <div class="flex flex-col items-center gap-4">
                <h3 class="text-lg font-semibold">Working Hours</h3>


                <ul class="text-sm text-gray-400 space-y-2">
                    <li>Mon – Fri: 9:00 – 18:00</li>
                    <li>Sat: 9:00 – 12:00</li>
                    <li>Sun: Closed</li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="text-center p-3 bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        © 2026 Copyright:
        <a class="text-white" href=""> Minh đóa</a>
    </div>
    <!-- Copyright -->

</footer>