/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== CHECKBOX - LIGHT THEME ===== */
.todo-checkbox .p-checkbox-box {
    background: white;
    border: 2px solid #14b8a6;
    /* teal-500 */
}

.todo-checkbox .p-checkbox-box:not(.p-highlight):hover {
    border-color: #0d9488;
    /* teal-600 */
}

/* Checked */
.todo-checkbox .p-checkbox-box.p-highlight {
    background: #14b8a6;
    border-color: #14b8a6;
}

.dark .todo-checkbox .p-checkbox-box {
    background: #1f2937;
    /* gray-800 */
    border: 2px solid #2dd4bf;
    /* teal-400 */
}


.dark .todo-checkbox .p-checkbox-box.p-highlight {
    background: #2dd4bf;
    border-color: #2dd4bf;
}